<p>FlightId: {{flightId}}</p>


<table mat-table [dataSource]="flights">
  <ng-container matColumnDef="flightNumber">
    <th mat-header-cell *matHeaderCellDef>Flight no.</th>
    <td *matCellDef="let element">{{element.flightNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="departureCity">
    <th mat-header-cell *matHeaderCellDef>Departure city</th>
    <td *matCellDef="let element">{{element.departureCity}}</td>
  </ng-container>

  <ng-container matColumnDef="arrivalCity">
    <th mat-header-cell *matHeaderCellDef>Arrival city</th>
    <td *matCellDef="let element">{{element.arrivalCity}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
